// scss 全局变量

// 响应式布局 mixin
@mixin changeWidth($maxWidth: 1200px) {
  .container {
    max-width: $maxWidth;
  }
}

// **默认调用**
@include changeWidth();

// **封装一个响应式 mixin**
@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content; // 允许传递块级内容
  }
}

// **不同尺寸下的样式**
@include responsive(1380px) {
  .el-radio-group {
    justify-content: center !important;
  }
}

@include responsive(1280px) {
  @include changeWidth(1100px);
}

@include responsive(992px) {
  @include changeWidth(900px);
}

@include responsive(720px) {
  .xs-hidden {
    display: none;
  }
}
